{{#if labelText}}
  <label>{{labelText}}</label>
{{/if}}

{{#if hasBlock}}
  {{yield (get object propertyPath) (action "update")}}
{{else}}
  {{component type value=(get object propertyPath)
                   updated=(action "update")
                   disabled=disabled}}
{{/if}}
