{{#if labelText}}
  <label>{{labelText}}</label>
{{/if}}

{{#if hasBlock}}
template
  {{yield (get object propertyPath)}}
{{else}}
component
  {{component type value=(get object propertyPath) updated=(action "update")}}
{{/if}}
