{{#if type}}
  {{component (concat "paper/" type) value=(get object propertyPath)
                                     componentProperties=options
                                     updated=(action "update")
                                     label=(humanize (underscore _label))
                                     name=name
                                     disabled=disabled}}
  {{#unless (is-empty after)}}
    <span class="form-field__after">{{after}}</span>
  {{/unless}}
{{/if}}
