.auto-complete {
  position: relative;
  width:    100%;

  .ember-power-select {
    position: relative;
    float:    left;
    width:    100%;

    &-trigger {
      padding-right: 35px;

      overflow:      hidden;
      text-overflow: ellipsis;
    }
  }
}
