.radio-select {
  &__list {
    padding: 0.5em 0.2em;
  }

  &__option {
    cursor: pointer;

    label { cursor: inherit; }

                .fa { color: #777; }
    &--selected .fa { color: #444; }

    &.no-icon:hover {
      background-color: #D5D5D5;
    }

    &--selected.no-icon {
      background-color: #E8E8E8;
    }

    &--empty {
      color: lightgrey;
    }
  }

  &--inline {
    .radio-select__option {
      display: inline-block;
      float:   left;

      padding:      0 0.5em;
      border-right: 1px solid black;

      &:last-child {
        border: none;
      }
    }
  }
}
