{{#power-select options=groupedContent
                selected=value
                search=onQueryChange
                searchField=optionLabelPath
                searchPlaceholder=prompt
                onchange=updated
                classNames="auto-complete"
                as |item|}}
  {{get item optionLabelPath}}
{{/power-select}}

<div class="auto-complete__empty-button"
     title="Empty selection"
     {{action 'emptySelection'}}>
  {{fa-icon "times"}}
</div>
